{% extends 'base.html' %}

{% block title %}Excluir EPI{% endblock %}

{% block content %}
<div class="card shadow-sm border-danger">
    <div class="card-body">
        <h4 class="text-danger mb-3">Confirmar Exclusão</h4>

        <p>Tem certeza que deseja excluir o EPI <strong>{{ epi.nome }}</strong> da categoria <strong>{{ epi.categoria }}</strong>?</p>

        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Sim, excluir</button>
            <a href="{% url 'lista_epis' %}" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
</div>
{% endblock %}
